
.brand{
    font-size: 30px;
    color: #f5eded;
    text-decoration: none;
}
.brand:hover{
    text-decoration: none;
    color: dimgrey;
}

.navigation{
    font-size: 20px;
    color: #f5eded;
    margin-left: 15px;
    text-decoration: none;
}
.navigation:hover{
    text-decoration: none;
    color: dimgrey;
}
.flexbox{
    display: flex;
    justify-content: space-between;
}